body {
    text-align: center;
    font-size: 25pt;
    background: black;
    color: white;
    border: solid white;
}

.headingInstructions p {
    font-size: 15pt;
}

div {
    padding: 5px;
}

option label {
    font-size: 25pt;
}

.winner {
    background-color: white;
    color: black;
}

select {
    width: 250px;
    padding: 30px;
}

.input1 .input2 {
    width: 500px;
}

#player1Name, #player2Name{
    padding: 12px;
}


button {
    padding: 5px;
    font-size: 15pt;
    font-weight: bolder;
    color: white;
    border: solid white;
    background-color: black;
    margin: 10px;
}