body {
    text-align: center;
    font-size: 25pt;
    background: black;
    color: white;
    border: solid white;
    background-image: url(./gaming.jpeg);
    background-size: cover;
}

h1 {
    text-decoration: underline;
    background-color: black;
}

.headingInstructions p {
    font-size: 15pt;
}

.instructions {
    background-color: black;
}

div {
    padding: 5px;
}

option label {
    font-size: 25pt;
}

.winner {
    background-color: white;
    color: black;
}

select {
    width: 250px;
    padding: 30px;
}

.namePrompt {
    color: white;
    background-color: black;
}

.input1 .input2 {
    width: 500px;
}

#player1Name, #player2Name{
    padding: 12px;
}


button {
    padding: 5px;
    font-size: 15pt;
    font-weight: bolder;
    color: white;
    border: solid white;
    background-color: black;
    margin: 10px;
}

@media(min-width:700px) {
    .namePrompt {
        background-color: transparent;
    }
}